// Colors
$brand-primary:   green;
//$primary:         #BF2E36;

//$brand-inverse:   black;
//$brand-danger:

$fa-font-path:          '~font-awesome/fonts';
// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;
